body{
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center;
    color: white;
}

input{
    margin-left: 10%;
}

a{
    color: skyblue;
    margin-left: 10%    
}

img{
    padding-left: 10%;
    width: 150px;

}

h1{
    color: green;
    margin-left: 10%
}

h2{
    color: white;
    margin-left: 10%
}

h3{
    color:white;
    margin-left: 10%
}

p{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%
}

.troll{
    color: orange; 
    margin-left: 0%
}

button{
    margin-left: 10%
}

form{
    margin-left: 10%
}

/*Her er designet til min knap*/
.my_button{
    margin-left: 10%;
    background-color: red;
    border: solid blueviolet 2px; 
    border-radius: 3px;
    display: inline-block;
}

.my_button:hover{
    cursor: pointer;
    background-color: darkred;
}

.my_button:active{
    background-color: skyblue;
} 
