body{
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center;
    color: white;
}

a{
    color: skyblue;
    text-align: left;    
}

img{
    padding-left: 10%;
    width: 150px;

}

h1{
    color: green;
    text-align: center;
}

h2{
    color: white;
    margin-left: 10%
}

h3{
    color:white;
    margin-left: 10%
}

p{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%
}

.troll{
    color: orange; 
    margin-left: 0%
}

button{
    margin-left: 10%
}

/*Her er designet til min knap*/
.my_button{
    background-color: red;
    border: solid blueviolet 2px; 
    border-radius: 3px;
    display: inline-block;
    padding: 2%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.my_button:hover{
    cursor: pointer;
    background-color: darkred;
}

.my_button:active{
    background-color: skyblue;
} 


.grid-container{
    display: grid;
    grid-template-columns: 100px auto auto auto;
    grid-template-rows: 100px auto 100px;
    height: 100vh;

    grid-template-areas: 
    "Sidebar Header Header Header"
    "Sidebar Left Middle Right"
    "Sidebar Footer Footer Footer";
}

.Header{
    grid-area: Header;
    border-bottom: solid 2px whitesmoke;
}

.SideBar{
    grid-area: Sidebar;
    border-right: solid 2px whitesmoke;
}

.Content{
    grid-area: Left;
    margin: 10px;
    border-right: solid 2px whitesmoke;
}

.Content1{
    grid-area: Middle;
    margin: 10px;
    border-right: solid 2px whitesmoke;
}

.Content2{
    grid-area: Right;
    margin: 10px;
}

.Footer{
    grid-area: Footer;
    border-top: solid 2px whitesmoke;
    text-align: center;
}
